
<div class="files"> 
  <%= form_for [@post, @image], :html => { :class => "upload", :multipart => true } do |f| %>
    <% if @image.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@image.errors.count, "error") %> prohibited this element from being saved:</h2>
  
        <ul>
        <% @image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>  
    <%= f.file_field :element %>
    <div>Upload files</div>
  <% end %>

  <table class="upload_files"></table>
  <table class="download_files"></table>
</div>