<div class="files"> 
<%= form_for [@post, @image], :html => { :class => "upload", :multipart => true } do |f| %>
  <%= f.file_field :element %>
  <div>Upload files</div>
<% end %>

<table class="upload_files"></table>
<table class="download_files"></table>
</div>