<div class="block">       
  <div class="content">            
    <h2 class="title"><%= t("web-app-theme.new", :default => "New")%>  Image</h2>
    <div class="inner">
        <%= render :partial => "form" %>
    </div>
  </div>
</div>
